body {
    background-image: url("pisky.png");
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Prevent background from scrolling with content */
    margin:auto; /* Remove default body margin */
    padding: 0;
    background-color: #FF9B54;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 90vh;
    font-size: 80px;
    color: aliceblue;
    

}
.piskintro {
    display: block;
    margin-left : auto;
    margin-right : auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.imgs {
    display: flex;
    justify-content: center;
}
