
body, html {
    height: 100%;
    
    background-color: #FF9B54;
}


.imge {
    display: block;
    margin : 30px auto;
    margin-top: 10px;
    width: 300px;
    padding-left :5px;
    padding-right :5px;
    padding-top: 20px;
    border: 30px solid #370617;
    box-shadow: 20px;
    

}
 

.piskintext {
    text-align: center;
    margin: 0px auto;
    font-size: large;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.piskintro {
    margin-top : 20px;
}
.butt {
    display: flex;
    justify-content: center;
    

    
    
}
button {
    width: 120px;
    height :80px;
    background-color: #370617;
    color : white;
    font-family:'Courier New', Courier, monospace ;
    font-size: 30px;
    text-align: center;
    border: 10px;
    border-radius: 20px;
    margin: 0 10px;

}

.click {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    border: 20px;
    margin: 20px 10px;
}
.link {
    color: #ff9b54 ;
}